<style>
    .nav-container {
        width: 110px;
        height: 230px;
        border: solid 2px none;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
    }
    
    #navbar {
        position: relative;
        margin: auto;
    }
    
    .navbar-inner {
        background-color: #e5707e;
    }
    
    .link-container {
        margin: 10px;
        font-size: 18px;
        width: 100%;
        color: white;
    }
    
    .nav-link {
        display: inline-block;
    }
    
    .button {
        background-color: #e5707e;
        border: None;
        color: white;
        padding: 6px 12px;
        text-decoration: None;
    }
</style>
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark " style="margin-bottom:-30px; margin-top:-24px; ">
        <a class="navbar-brand" href="#">
            <img src="static/images/logo.png" style="width:100px;height:100px" alt="" loading="lazy">

        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item  {% block homeactive %}{% endblock homeactive %}">
                    <a class="nav-link" href="/">
                        <h5>Home </h5><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% block aboutactive %}{% endblock aboutactive %}" ;>
                    <a class="nav-link" href="/about">
                        <h5>About Us</h5>
                    </a>
                </li>
                <li class="nav-item {% block blogactive %}{% endblock blogactive %}">
                    <a class="nav-link" href="/app1">
                        <h5>Blog</h5>
                    </a>
                </li>
                <li class="nav-item {% block contactactive %}{% endblock contactactive %}">
                    <a class="nav-link" href="/contact">
                        <h5>Contact Us</h5>
                    </a>

                </li>



            </ul>
            <div class="ml-auto">
                <form method="GET" action="/search" class="form-inline my-2 my-lg-0 mx-3 ">
                    <input class="form-control mr-sm-3 " style="border-radius: 12px" type="search " placeholder="Search " aria-label="Search " name="query" id="query">
                    <button class=" button btn btn-outline-dark my-2 my-sm-0 mr-2" style="border-radius: 18px" type="submit ">Search</button> {% if user.is_authenticated %}
                    <ul class=navbar-nav ml-auto>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                your are logged in as {{request.user}}
                        </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/handlelogout">Logout</a>

                            </div>
                        </li>
                    </ul>

            </div>

            {% else %}
            <button type="button" class="button  mr-2 ml-4" style="border-radius: 18px" data-toggle="modal" data-target="#signupModal">
    Signup
  </button>
            <button type="button" class="button  mr-1" style="border-radius: 18px" data-toggle="modal" data-target="#loginModal">
    Login
  </button> {% endif %}
            </form>
        </div>
    </nav>






    <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signupModalTitle">signup</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form action='/handlesignup' method='POST'>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">UserName</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="abcd" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
                        </div>
                        <div class="form-group">
                            <label for="pass">Password</label>
                            <input type="password" class="form-control" id="pass" name="pass" placeholder="name@123" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmpass">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmpass" name="confirmpass" placeholder="name@123" required>
                        </div>
                        <button type="submit" class="btn btn-dark">Submit</button>

                    </form>
                </div>
                <div class="modal-footer">


                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalTitle">signup</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form action='/handlelogin' method='Post'>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="loginusername">UserName</label>
                            <input type="text" class="form-control" id="loginusername" name="loginusername" placeholder="abcd">
                        </div>

                        <div class="form-group">
                            <label for="loginpass">Password</label>
                            <input type="password" class="form-control" id="loginpass" name="loginpass" placeholder="name@123">
                        </div>
                        <div class="form-group">
                            <label for="loginconfirmpass">Confirm Password</label>
                            <input type="password" class="form-control" id="loginconfirmpass" name="loginconfirmpass" placeholder="name@123">
                        </div>

                        <button type="submit" class="btn btn-dark">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">


                </div>
            </div>
        </div>
    </div>

    {% block body %} {% endblock %} {% block js %} {% endblock js %}



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx " crossorigin="anonymous "></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js " integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s " crossorigin="anonymous "></script>
    -->
</body>

</html>