{% extends 'base.html' %} {% block title %} search {% endblock title %} {% block body %}
<div class="container">
    <h2>Search results here:-</h2>
    {% if allPosts|length >= 1 %} {% for post in allPosts %}



    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">World</strong>
            <h3 class="mb-0">{{post.title}}</h3>
            <div class="mb-1 text-muted">{{post.datetime}}</div>
            <p class="card-text mb-auto">{{post.content |truncatechars:300}}</p>
            <div class="my-2">
                <a href="app1/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
            </div>
        </div>

    </div>
    {% endfor %}

</div>

{% else %}
<p>no search results</p>
your search <b>{{query}}</b> did not match any document. Suggestions are following:
<ul>
    <li>Try search element length should be under 60</li>
    <li>Make sure all words are spelled correctly</li>
    <li>Try different keywords</li>
    <li>Try general keywords</li>
</ul>
{% endif %} {% endblock body %}